/*  your css code here. If applicable */
.main{
	Background-color: #f5f5f5;
	padding: 30px;
}
#author{
	text-align:right;
	justify-content:right
	Font-style:italic;
}
p{
	border: 1px solid  lightgray;
	background:white;
	padding:10px;
	margin-bottom:10px;
}